<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alueet</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

       <style type="text/css">
            body {
                background-color: gray;
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
            }

            a:hover {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <div class="w3-bar w3-black">
            <a class="w3-bar-item w3-button w3-mobile" id="takaisin" href="/">Etusivulle</a>
        </div>
        <div class="w3-main">
        <div class="w3-col m6 l4 w3-card-4 w3-margin">
        <div class="w3-container w3-blue">
            <h2>The Foorumi</h2>
        </div>

        <div>
            <table class="w3-table-all w3-hoverable">
                <tr>
                    <th>Alue</th>
                    <th>Viestit</th>
                    <th>Viimeisin viesti</th>
                </tr>
                <tr th:each="alue : ${alueet}">
                    <td><a th:href="@{~/{name}/{id}?sivu=1(id=${alue.id}, name=${alue.nimi})}" th:text="${alue.nimi}">nimi</a></td>
                    <td><a th:href="@{~/{name}/{id}?sivu=1(id=${alue.id}, name=${alue.nimi})}" th:text="${alue.viestienLkm}">maara</a></td>
                    <td><a th:href="@{~/{name}/{id}?sivu=1(id=${alue.id}, name=${alue.nimi})}" th:text="${alue.viimeisin}">aika</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    </body>
</html>
