<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alueet</title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8" />
    </head>

    <body>
        <div>
        	<h1>Keskustelufoorumi</h1>
        </div>

        <div class="alueet">
        	<table border="0" cellspacing="0" cellpadding="0">
        		<tr class="otsikkorivi">
        			<td>Alue</td>
        			<td>Viestit</td>
        			<td>Viimeisin viesti</td>
        		</tr>
        		<tr class="aluerivi" th:each="alue: ${alueet}">
        			<td th:text="${alue.nimi"></td>
        			<td th:text="${alue.viestienLkm"></td>
        			<td th:text="${alue.viimeisin"></td>
        		</tr>
        	</table>
        </div>
    </body>
</html>