<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${viestiketju.otsikko}">Otsikko</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <meta charset="utf-8" />
    </head>

    <body>
        <div class="well">
            <h1><span th:text="${viestiketju.otsikko}">viestiketjun nimi</span></h1>
        </div>

        <div class="well" th:each="vastaus : ${vastaukset}">
            <span>
                <b>
                    <span th:text="${vastaus.lahettaja}">nimimerkki</span>
                </b>
            </span>
            <br/>
            <span th:text="${vastaus.sisalto}">sisalto</span>
            <br/>
            <span th:text="${vastaus.aikaleima}">aikaleima</span>
        </div>

        <div class="well" id="vastaus">
            <form method="POST" action="/viestiketju" >
                <div>
                    <input type="text" name="nimi" placeholder="Nimimerkki" required="" oninvalid="this.setCustomValidity('Lisää nimimerkki')"
                           oninput="setCustomValidity('')"/>
                </div>
                <div>
                    <textarea style="resize: none" name="viesti" cols="40" rows="5" placeholder="Viesti" required="" oninvalid="this.setCustomValidity('Lisää viesti')"
                              oninput="setCustomValidity('')"></textarea>
                </div>
                <div>
                    <input type="submit" value="Lähetä viesti"/>
                </div>
            </form>
        </div>

    </body>
</html>