<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${viestiketju.otsikko}">Otsikko</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta charset="utf-8" />

        <style>
            .vastaus {
                border: solid 1px #2f2f2f;
                outline: none;
                margin: 0% 60% 1% 3%;
                padding: 1% 1% 1% 1%;
            }
            .otsikko {
                margin: 2% 0% 3% 3%;
            }
            .viestiLaatikko {
                margin: 0% 0% 1% 3%;
            }

            .seuraava {
                margin: 2% 0% 2% 3%;
            }
        </style>

    </head>

    <body>
        <div>
            <h1 class="otsikko"><span th:text="${viestiketju.otsikko}">viestiketjun nimi</span></h1>
        </div>

        <div class="vastaus" th:each="vastaus : ${vastaukset}">
            <span>
                <b>
                    <span th:text="${vastaus.lahettaja}">nimimerkki</span>
                </b>
            </span>
            <br/>
            <span th:text="${vastaus.sisalto}">sisalto</span>
            <br/>
            <span th:text="${vastaus.aikaleima}">aikaleima</span>
        </div>

        <div class="viestiLaatikko">
            <form method="POST" th:action="@{~/{name}/{alueId}/{id}/{sivunumero}(name=${alue.nimi}, alueId=${alue.id}, id=${viestiketju.id}, sivunumero=${sivunumero})}">
                <div>
                    <input type="text" name="nimi" placeholder="Nimimerkki" required="" oninvalid="this.setCustomValidity('Lisää nimimerkki')"
                           oninput="setCustomValidity('')"/>
                </div>
                <div>
                    <textarea style="resize: none" name="viesti" cols="40" rows="5" placeholder="Viesti" required="" oninvalid="this.setCustomValidity('Lisää viesti')"
                              oninput="setCustomValidity('')"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="">
                        <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="seuraava">
            <p>
                <a th:href="@{~/{name}/{alueId}/{id}/{sivunumero}/prev(alueId=${alue.id}, name=${alue.nimi}, id=${viestiketju.id}, sivunumero=${sivunumero})}">prev</a>
                <span th:text="${sivunumero}">1</span>
                <a th:href="@{~/{name}/{alueId}/{id}/{sivunumero}/next(alueId=${alue.id}, name=${alue.nimi}, id=${viestiketju.id}, sivunumero=${sivunumero})}">next</a>
            </p>
        </div>

    </body>
</html>